fastapi
uvicorn
python-multipart
pydantic
duckduckgo-search
beautifulsoup4
requests
html2text
sentence-transformers
qdrant-client
groq
python-docx
pypdf
pandas
openpyxl
python-pptx
opencv-python-headless
pytesseract
streamlit
python-dotenv
openai
google-generativeai